

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



body{
	font-size: 20px;
}
.color1{
	color: #ff4444;
}
.color2{
	color: #33b5e5;
}
.color3{
	color: #8ce444;
}
.color4{
	color: #2eccc7;
}
.color5{
	color: #8e44ad;
	background-color: #eee;
}
.app
{
	font-size: 50px;

}
.textogeneral{
	background-color: #eee;
}
.listtext
{
	color:#b7ad33!important;
}
.fondo
{
	background-color: #8e44ad;
}










